.text{
    width: 100px;
    height: 100px;

    
    /* borde divimizni stli  uni atrofidagi ramkasi, chegarasi */

    /* solid bu uzluksiz chiziq  */
    /* dashed bu uzlukli chiziq */
    border: 1px dashed;