.box{
    width: 100px;
    height: 100px;
    background:red;
     /* margin-top: ; orqli blokimizni  tepa tarafda uzoqlashtirdik va tepada 100px joy boshadi */
    /* margin-top: 100px%; */
    /* margin-left: ; orqali chap tarafdan uzoqlashtirdik */
    /* margin-left: 100px%; */
    /* margin-right: ; margin-bottom: ; lar orqali ong PAS TOMONDA uzoqlashtirish"     */
    /* margin-right: 100px%; */
    /* margin-bottom: 100px; */
    /* marginni umumiy qilib yozish */ 

    /* marginni tortaligi birinchi  top[tepa] keyin right keyin bottom keyin left ni oladi yani soat strelkasiga ohshab */
    /* margin: 100px 100px 50px 100px; */
    /* margin: 50px 100px 30px; */
    /* margin: 50px 30px; */
    /* margin bittali qilib yozilsa birdaniga barcha raflama ta'sir qiladi */
    /* margin: 100px; */

    /* margin divni tashqari tarafdan uzoqlashtirsa padding funksiyasi ichkari tarafdan siqadi yoki kengaytirani */
    padding: 100px;
    padding ni ham margin kabi  bottom left top funksiyasi bor
}