.text{
    width:100%;
    height:100vh;

    
    /* borde divimizni stli  uni atrofidagi ramkasi, chegarasi */

    /* solid bu uzluksiz chiziq  */
    /* dashed bu uzlukli chiziq */
    /* dotted bu nuqtali */
    /* border: 8px dotted red; */

    /* borderni qismlarga bulib yozsa ha buladi */
    /* border-width: 10px;
    border-style: dotted;
    border-color: blue; */

    /* background: url(); orqali div foniga rasm qoyamiz */
    background:red;
    background: url(1.jpg);

    /* qoyilgan rasim bosh joydan yana qaytalanyapti  qaytarmaslik uchun background-repeat: no-repeat; ni ishlatamiz */
    background-repeat: no-repeat;
    /* background:cover; */
    background-position: right ;
}