.box{
    width: 100px;
    height: 100px;
    background:red;
     /* margin-top: ; orqli blokimizni  tepa tarafda uzoqlashtirdik va tepada 100px joy boshadi */
    /* margin-top: 100px%; */
    /* margin-left: ; orqali chap tarafdan uzoqlashtirdik */
    /* margin-left: 100px%; */
    /* margin-right: ; margin-bottom: ; lar orqali ong PAS TOMONDA uzoqlashtirish"     */
    /* margin-right: 100px%; */
    /* margin-bottom: 100px; */
    /* marginni umumiy qilib yozish */ 
    /* margin: 100px 100px 50px 100px; */
    /* margin: 50px 100px 30px; */
    /* margin: 50px 30px; */
    margin: 100px;
}